@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.table-title, .page-title, .text-foodbox {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    color: #1F4690;
}

.bg-foodbox {
    background-color: #4ebcf3 !important;
    // background-color: #0078AA !important;
}

.text-red {
    color: red;
}